.contact {
    background-image: url(../img/pexels-cátia-matos-1072179.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    height: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form {
    color: white;
    text-align: center;
    background-color: rgba(83, 103, 76, 0.86);
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    padding: 8px;
    border-radius: 15px;
    border: none;
}
.button-send {
    background-color: #FF6B00;
    padding: 8px;
    width: 100px;
    border-radius: 15px;
}
@media screen and (min-width: 750px) {
    .form {
        flex-direction: row;
        height: 300px;
        align-items: center;
        justify-content: center;
        width: 550px;
    }
    .form-info {
        width: 40%;
    }
    .form-info p {
        width: 250px;
    }
}
@media screen and (min-width: 2500px) {
    .form {
        padding: 60px;
        width: 60%;
        height: fit-content;
    }
    .form-info h2 {
        font-size: 50px;
    }
    .form-info p {
        font-size: 35px;
        width: 450px;
        font-weight: lighter;
    }
    .form-inputs {
        gap: 40px;
    }
    .form-inputs input {
        width: 600px;
        padding: 20px;
    }
    .button-send {
        width: 200px;
        font-size: 30px;
    }
}