.hero-banner {
    background-image: url(../img/pexels-adrien-olichon-2387793.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.image-me {
    background-image: url(../img/profilepic-mobile.png);
    background-repeat: no-repeat;
    height: 200px;
    margin-left: 25px;
    width: 250px;
}
.hero-text {
    height: fit-content;
    width: 80%;
    background-color: #393939;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-text h1 {
    font-size: 20px;
}
.hero-text p {
    font-size: 16px;
}
.card {
    height: 100vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    width: fit-content;
}
.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding-bottom: 40px;
}
a {
    text-decoration: none;
}
.green {
    background-color: #53674C;
}
.black {
    background-color: #393939;
}
img {
    width: 250px;
}
.travel-tips img {
    width: 150px;
}
.badges {
    font-size: 30px;
}
.button {
    background-color: white;
    color: #FF6B00;
    padding: 8px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
}
@media screen and (min-width: 750px) {
    .hero-banner {
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
    }
    .hero-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        height: 100%;
    }
    .hero-text {
        width: 50%;
        margin-right: 50px;
        margin: 0;
        height: fit-content;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text p {
        font-size: 30px;
    }
    .image-me {
        width: 40%;
        background-size: cover;
        margin: 0;
        height: 50%;
    }
    .card {
        margin: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .card-info {
        width: 40%;
        text-align: left;
        display: flex;
        gap: 20px;
    }
    .card-info h2 {
        font-size: 50px;
    }
    .card-info p {
        font-size: 20px;
    }
    .badges {
        font-size: 60px;
        display: flex;
        gap: 40px;
    }
    img {
        width: 80%;
    }
    .travel-tips img {
        width: 50%;
    }
    .button {
        width: 200px;
        font-size: 30px;
    }
    
}